
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myInvitationLabel" translate="eventmanagerApp.invitation.home.createOrEditLabel">Create or edit a Invitation</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.invitation.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="eventmanagerApp.invitation.date" for="field_date">Date</label>
                <div class="input-group">
                    <input id="field_date" type="text" class="form-control" name="date" datetime-picker="{{dateformat}}" ng-model="vm.invitation.date" is-open="vm.datePickerOpenStatus.date"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('date')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="eventmanagerApp.invitation.accept" for="field_accept">Accept</label>
            <input type="checkbox" class="form-control" name="accept" id="field_accept"
                    ng-model="vm.invitation.accept"
                     />
        </div>

        <div class="form-group">
            <label translate="eventmanagerApp.invitation.event" for="field_event">event</label>
            <select class="form-control" id="field_event" name="event" ng-model="vm.invitation.event" ng-options="event as event.name for event in vm.events track by event.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="eventmanagerApp.invitation.user" for="field_user">user</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.invitation.user" ng-options="user as user.login for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="eventmanagerApp.invitation.createdBy" for="field_createdBy">createdBy</label>
            <select class="form-control" id="field_createdBy" name="createdBy" ng-model="vm.invitation.createdBy" ng-options="user as user.login for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
