
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myInvitationLabel" translate="eventsmanagerApp.invitation.home.createOrEditLabel">Create or edit a Invitation</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="invitation.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="eventsmanagerApp.invitation.answer" for="field_answer">Answer</label>
            <input type="checkbox" class="form-control" name="answer" id="field_answer"
                    ng-model="invitation.answer"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="eventsmanagerApp.invitation.message" for="field_message">Message</label>
            <input type="text" class="form-control" name="message" id="field_message"
                    ng-model="invitation.message"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="eventsmanagerApp.invitation.dateCreated" for="field_dateCreated">DateCreated</label>
            <input id="field_dateCreated" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="invitation.dateCreated" is-open="datePickerForDateCreated.status.opened"
            required/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForDateCreatedOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
            <div ng-show="editForm.dateCreated.$invalid">
                <p class="help-block"
                    ng-show="editForm.dateCreated.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.dateCreated.$error.ZonedDateTimelocal" translate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="eventsmanagerApp.invitation.lastUpdated" for="field_lastUpdated">LastUpdated</label>
            <input id="field_lastUpdated" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="invitation.lastUpdated" is-open="datePickerForLastUpdated.status.opened"
            required/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForLastUpdatedOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
            <div ng-show="editForm.lastUpdated.$invalid">
                <p class="help-block"
                    ng-show="editForm.lastUpdated.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.lastUpdated.$error.ZonedDateTimelocal" translate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="eventsmanagerApp.invitation.event" for="field_event">event</label>
            <select class="form-control" id="field_event" name="event" ng-model="invitation.event" ng-options="event as event.name for event in events track by event.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="eventsmanagerApp.invitation.user" for="field_user">user</label>
            <select class="form-control" id="field_user" name="user" ng-model="invitation.user" ng-options="user as user.login for user in users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
